*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button{
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
}

header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #31222d;
}
.logo{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.navbar{
  list-style: none;
}

.navbar li{
  display: inline-block;
  padding: 0px 20px;
}
.navbar li a{
  
}

button{
  padding: 3px 25px;
  background:#f081bc;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button .material-symbols-outlined{
  height: 15px;
  width: 15px;
  margin: 0;
  color: #0e0e0e;
  align-items: center;
}
.input{
  border-radius: 5px;
}
.input .icon{
  align-items: center;
}
.icon{
  height: 25px;
  width: 28px;
  padding: 0;
  background:#f081bc;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
/* effet_*/
/* Appliquer l'effet aux éléments de navigation */
.navbar li a {
  transition: transform 0.3s, color 0.3s;
}

/* Lorsque le curseur passe sur l'élément de navigation, effectuez les transformations */
.navbar li a:hover {
  transform: scale(1.5);
  color: #f081bc; /* Changer la couleur selon votre choix */
}
/* Appliquer l'effet au bouton "s'inscrire" */
.btn-i {
  transition: transform 0.3s, background-color 0.3s;
}

.btn-i:hover {
  transform: scale(1.1);
  background-color: #e4cbd8; 
  color: #f081bc;/* Changer la couleur selon votre choix */
}
@media screen  and (max-width=720px){
  
}