*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 90vh;
    width: 100%;
    background-image: url('/IMG_S/SeniorCare1.png');
    background-repeat: no-repeat;
    background-size: cover;
     
}
section h1{
    font-size: 90px;
    font-weight: 900;
    
}

section h3{
   margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.btn{
    margin-top: 20px;
    margin-left: 10%;
}
.btn1{
    padding: 10px;
    background-color:  #f081bc;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 10px;
}
.btn2{
    padding: 10px;
    background-color: #f081bc;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 5px;
    
}
.bg{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:#f081bc ;
    padding: 40px;
    height: 290px;

}
.text{
    height: 200px;
    width: 35%;
    margin-left: 5%;
    color: #f081bc;
    font-size: 16px;
    font-weight: 900;
}

.footer{
    height: 100px;
    
}
.input{
    display: none;
}
@media screen  and (max-width=720px){
  
}